version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: bank-postgres
    restart: unless-stopped

    environment:
      POSTGRES_DB: bank_rest
      POSTGRES_USER: bank_user
      POSTGRES_PASSWORD: bank_password

    ports:
      - "5432:5432"

    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
